# dependencies
**/node_modules

# production
**/dist
/.vscode
**/**/lib/**
**/**/es/**

# dumi
.dumi/tmp
.dumi/tmp-production

packages/components/version/version.ts
packages/components/version/version.tsx
